.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-button {
  background: transparent url(../images/delete-icon.svg) no-repeat center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 371px;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

.card__content {
  margin: 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 350px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/Like-Hover.png) no-repeat center;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
  transition: background-color 0.5s linear;
}

.card__like-button_liked {
  background-image: url(../images/Liked.svg);
  opacity: 100%;
}

.card__like-button_liked:hover {
  background-image: url(../images/LikedHover.svg);
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
