.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 12px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
}

.profile__subtext {
  margin: 12px 0 0;
  width: 97px;
  height: 16px;
  color: rgba(33, 33, 33, 0.7);
}
.profile__edit-button {
  margin-top: auto;
  text-decoration: none;
  border: none;
  width: 107.34px;
  height: 16px;
  background-color: #fcf5e5;
  color: rgba(33, 33, 33, 0.7);
  display: inline-block;
}

.profile__post-button {
  margin: 138px 0 0 auto;
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
